@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Set font of all elements to 'Roboto' */
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h1 {
  text-align: center;
}

nav {
  background-color: #3a24f0;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;

}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1em;

}

nav a:hover {
  text-decoration: underline;
}

.home {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  margin-top: 2em;
}

.home_title {
  grid-area: 1 / 2 / 2 / 5;
  background-color: red;
  text-align: center;
}
.picture {
  grid-area: 2 / 2 / 3 / 3;
  background-color: blue;
}

.bio{
  grid-area: 2 / 3 / 3 / 5;
  background-color: green;
}
.hobbies{
  grid-area: 3 / 2 / 4 / 4;
  background-color: yellow;
}
.picture-2{
  grid-area: 3 / 4 / 4 / 5;
  background-color: orange;
}

.resume {
display: grid;
grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
grid-template-rows: repeat(4, 1fr);
grid-gap: 1em;
margin-top: 2em;
}
.resume_title {
  grid-area: 1 / 2 / 2 / 5;
  background-color: red;
  text-align: center;
}
.education {
  grid-area: 2 / 2 / 4 / 3;
  background-color: blue;
}
.work_experience {
  grid-area: 2 / 3 / 4 / 5;
  background-color: green;
}
.skills {
  grid-area: 4 / 2 / 5 / 5;
  background-color: yellow;
}

.contact {
display: grid;
grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
grid-template-rows:  0.1fr repeat(2, 1fr);
grid-gap: 1em;
margin-top: 2em;
}

.contact_title {
  grid-area: 1 / 2 / 2 / 4;
  background-color: red;
  height: 2em;
  text-align: center;
}
.form {
  grid-area: 2 / 2 / 4 / 3;
}
.contact_info {
  grid-area: 2 / 3 / 4 / 4;
  background-color: yellow;
}
/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Add styles to the submit button */
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}
